$qwer: #0f03;
$asdf: #f003;
$zxcv: #00f3;
$primary-color-dark: #00292b;
$primary-color: #0a3031;
$primary-color-light: #256e70;
$primary-color-lighter: #11777f;
$secondary-color: #d62e49;
$secondary-color-hover: #c42640;
$secondary-color-active: #ac1d35;

// vp-gap = View Port Gap
$vp-gap: 10px;

$ff-abel: "Abel";
$ff-bebas: "Bebas Neue";
$ff-roboto: "Roboto";
